name: KONG

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0/4 * * *'
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  KONG:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Get KONG
        run: |
          git clone https://${{ secrets.KONG_REPO_PAT }}@github.com/statsig-io/kong.git

      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Build Bridge
        run: |
          cd kong
          npm install
          FORCE_COLOR=true npm run kong -- build nodejs -v
        env:
          repo_pat: ${{ secrets.KONG_REPO_PAT }}

      - name: Run Tests
        run: |
          cd kong
          npm install
          FORCE_COLOR=true npm run kong -- test nodejs -w -r
        env:
          test_api_key: ${{ secrets.KONG_SERVER_SDK_KEY }}
          test_client_key: ${{ secrets.KONG_CLIENT_SDK_KEY }}
